/* ==================== pag 4 ========================= */

.pag-4{
    height: 835px;
    background-color: var(--main2-color);
    padding: 80px 85px;
}

.pag-4-geral{
    height: 676px;
    display: flex;
    gap: 60px;
    flex-direction: column;
}

.topo-pag-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.topo-pag-4 p{
    padding: 0px 270px;
    color: var(--letra-color);
    text-align: center;
}

.caixas-pag-4{
    display: flex;
    gap: 30px;
    justify-content: center;
}

.trabalho-p4{
    width: 445px;
    height: 494px;
    display: flex;
    flex-direction: column;
    gap: 20px;   
}

.trabalho-p4 p{
    color: var(--letra-color);
}

.trabalho-p4 img{
    padding-bottom: 0px;
}

.trabalho-p4 button{
    border-radius: 5px;
    width: 140px;
    height: 38px;

    margin-right: 230px;

    /* padding: 10px 24px; */
    font-size: 16px;

    color: white;
    background-color: var(--button-color);
    box-shadow: 0px 0px 15px var(--button-shadow-color);
}

/* ==================== pag 4 ========================= */