/* ==================== pag 3 ========================= */

.pag-3 {
    color: white;
    padding: 100px 0px;
}

.pag-3 p{
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--letra-color);
}

.topo-p3 h1 {
    display: flex;
    justify-content: center;
}

.topo-p3 p {
    display: flex;
    justify-content: center;

    text-align: center;
    margin: 0px 355px;
    margin-top: 10px; 
}

.testemunhas-aria {
    margin: 0px 130px;
}

.testemunhas {
    display: flex;
    gap: 30px;

    margin-top: 60px;
}

.pessoa {
    width: 100%;
    height: 212px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 30px;

    border: solid 1px white;
}

.foto-nome {
    display: flex;
    gap: 20px;
    align-items: center;
}

.foto-nome p {
    color: white;
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* ==================== pag 3 ========================= */