* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
}

/* root - variavel de estilo */
:root {
    --main-color: #000000;
    --header-color: #1B1B1B;
    --letra-color: #9C9C9C;
}