* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    scroll-behavior: smooth; 
}

/* root - variavel de estilo */
:root {
    --main-color: #000000;
    --main2-color: rgb(255, 255, 255);
    --header-color: #1B1B1B;
    --letra-color: #9C9C9C;
    --button-color: #3F8E00;
    --button-shadow-color: #62BA1B;
}