@import url(/src/style/global.css);

body {
    background-color: var(--main-color);
    width: 100%;
}

/*==================== pag 1 ========================= */

/* header============================================ */
header {
    background-color: var(--header-color);
    margin: 0px 85px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.header-geral {
    width: 100%;
    height: 70px;

    display: flex;
    justify-content: center;
    gap: 90px;
}

/* são as opçoes do header */
.options {
    display: flex;
    gap: 70px;
    align-items: center;
}

/* mexe diretamente com as opções do header da pag 1 */
.options a {
    color: var(--letra-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular',
        'Lucida Grande', 'Lucida Sans Unicode',
        Geneva, Verdana, sans-serif;
}

/* são os icones do header */
.icones {
    display: flex;
    align-items: center;
    gap: 25px;
}

/* ajusta o tamanho dos icones do header */
.icones img {
    width: 18px;
    height: 17px;
}

/* header =============================================== */

/* pega toda a pag 1 */
.pag-1 {
    height: 100vh;
    margin: 0px 180px;
}

/* pega tudo no meio da pag 1 */
.meio-pag-1 {
    display: flex;
    gap: 32px;
    margin: 80px 0px 57px 0px;
    align-items: center;
}

/* sobre tudo no meio da pag 1*/
.meio-pag-1-geral {
    width: 100%;
    height: 247px;

    display: flex;

    flex-direction: column;
    gap: 30px;
}

/* sobre as info no meio da pag 1*/
.meio-pag-1-info {
    height: 154px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-right: 46px;

    color: aliceblue;
}

/* as info do h1 do meio da pag 1 */
.info-h1 {
    height: 72px;
    display: flex;
    align-items: center;
}

/* mexe diretamente no h1 do meio da pag 1*/
.meio-pag-1-info h1 {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* as info do p do meio da pag 1 */
.info-p {
    height: 72px;
    display: flex;
    align-items: center;
}

/* mexe diretamente no p do meio da pag 1 */
.meio-pag-1-info p {
    font-size: 14px;
    color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* mexe diretamente no button do meio da pag 1 */
.meio-pag-1-geral button {
    width: 307;
    height: 63px;

    border-radius: 5px;

    margin-right: 230px;

    
    font-size: 16px;

    color: white;
    background-color: #3F8E00;
    box-shadow: 0px 0px 15px #62BA1B;
}

.baixo-pag-1 {
    margin-top: 20px;
}

.baixo-pag-1-info {
    height: 60px;

    display: flex;
    justify-content: space-between;
    color: white;

}

.baixo-pag-1-info div {
    padding: 20px 36px;

    border-radius: 5px;
    border: 1px solid var(--letra-color);
    color: var(--letra-color);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* ==================== pag 1 ========================= */

/* ==================== pag 2 ========================= */

.pag-2 {
    width: 100%;
    height: 1440px;
    padding: 80px 200px;

    display: flex;
    align-items: center;
    justify-content: center;


    background-color: white;
}

.pag-2-geral {
    width: 100%;
    height: 1242px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cs h1 {
    display: flex;
    justify-content: center;
}

.cs p {
    display: flex;
    justify-content: center;

    margin: 0px 180px;
    margin-top: 10px;
}

.trabalhos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.trabalhos h1 {
    font-size: 24px;
}

.trabalhos p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: var(--letra-color);
}

.trabalhos button {
    color: white;
    width: 192px;
    height: 40px;

    border-radius: 5px;
}

.fintech {
    display: flex;
    gap: 32px;
}

.fintech-bad {
    width: 72px;
    height: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 60px;
    background-color: #FFF6E9;
}

.fintech-bad p {
    color: #FFA217;
}

.fintech button {
    background-color: #FFA217;
}

.edtech {
    display: flex;
    flex-direction: row-reverse;
    gap: 32px;
}

.edtech-bad {
    width: 72px;
    height: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 60px;
    background-color: #D0E6FF;
}

.edtech-bad p {
    color: #000AFF;
}

.edtech button {
    background-color: #000AFF;
}

.pharma {
    display: flex;
    gap: 32px;
}

.pharma-bad {
    width: 72px;
    height: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 60px;
    background-color: #E0FFF8;
}

.pharma-bad p {
    color: #2AB090;
}

.pharma button {
    background-color: #2AB090;
}

/* ==================== pag 2 ========================= */

/* ==================== pag 3 ========================= */

.pag-3 {
    color: white;
    padding: 80px 0px;
}

.pag-3 p{
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--letra-color);
}

.topo-p3 h1 {
    display: flex;
    justify-content: center;
}

.topo-p3 p {
    display: flex;
    justify-content: center;

    margin: 0px 355px;
    margin-top: 10px; 
}

.testemunhas-aria {
    margin: 0px 130px;
}

.testemunhas {
    display: flex;
    gap: 30px;

    margin-top: 60px;
}

.pessoa {
    width: 100%;
    height: 212px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 30px;

    border: 1px solid white;
}

.foto-nome {
    display: flex;
    gap: 20px;
    align-items: center;
}

.foto-nome p {
    color: white;
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* ==================== pag 3 ========================= */

/* ==================== pag 4 ========================= */

.pag-4{
    height: 835px;
    background-color: white;
    padding: 80px 85px;
}

.pag-4-geral{
    height: 676px;
    display: flex;
    gap: 60px;
    flex-direction: column;
}

.topo-pag-4{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topo-pag-4 p{
    padding: 0px 270px;
}

.caixas-pag-4{
    display: flex;
    gap: 30px;
    justify-content: center;
}

.trabalho-p4{
    width: 445px;
    height: 494px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.trabalho-p4 img{
    padding-bottom: 0px;
}

.trabalho-p4 button{
    border-radius: 5px;
    width: 140px;
    height: 38px;

    margin-right: 230px;

    /* padding: 10px 24px; */
    font-size: 16px;

    color: white;
    background-color: #3F8E00;
    box-shadow: 0px 0px 15px #62BA1B;
}

/* ==================== pag 4 ========================= */
/* ==================== pag 5 ========================= */

.pag-5{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pag-5-geral{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 350px;
    border: 1px solid white;
}

.pag-5 button{
    border-radius: 5px;
    width: 350px;
    height: 50px;

    margin-top: 20px;
    font-size: 16px;

    color: white;
    background-color: #3F8E00;
    box-shadow: 0px 0px 15px #62BA1B;
}

.topo-pag-5{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border: 1px solid white;
}

.topo-pag-5 h1{
    color: white;
    font-size: 34px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.topo-pag-5 p{
    color: #9C9C9C;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.meio-pag-5{
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
}

.meio-pag-5 h2{
    color: white;
}

.ip-email-p5 input{
    width: 350px;
    height: 40px;
}

.ip-mensagem-p5 input{
    width: 350px;
    height: 120px; 
}







/* Arrumar no final */
/* colocar var nas cores 
colocar um align-items: center; nos p */

