/*==================== pag 1 ========================= */

/* pega toda a pag 1 */
.pag-1 {
    margin: 5% 20% 10% 20%;
    /* border: solid 1px white; */
}

/* pega tudo no meio da pag 1 */
.meio-pag-1 {
    display: flex;
    gap: 32px;
    margin: 50px 0px 57px 0px;
    align-items: center;
    /* border: solid 1px white; */
}

.minha-ft{
    height: 400px;
}

/* sobre tudo no meio da pag 1*/
.meio-pag-1-geral {
    width: 100%;
    height: 247px;

    display: flex;

    
    flex-direction: column;
    gap: 30px;
}

/* mexe diretamente no button do meio da pag 1 */
.meio-pag-1-geral a{
    width: 307px;
    height: 63px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;

    margin-right: 230px;

   
    font-size: 16px;

    color: white;
    background-color: var(--button-color);
    box-shadow: 0px 0px 15px var(--button-shadow-color);
}

.meio-pag-1-geral a:hover{
    background-color: var(--button-shadow-color);
}


/* sobre as info no meio da pag 1*/
.meio-pag-1-info {
    height: 154px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-right: 46px;

    color: aliceblue;
}

/* as info do h1 do meio da pag 1 */
.info-h1 {
    height: 72px;
    display: flex;
    align-items: center;
}

/* mexe diretamente no h1 do meio da pag 1*/
.meio-pag-1-info h1 {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* as info do p do meio da pag 1 */
.info-p {
    height: 72px;
    display: flex;
    align-items: center;
}

/* mexe diretamente no p do meio da pag 1 */
.meio-pag-1-info p {
    font-size: 14px;
    color: var(--letra-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.baixo-pag-1 {
    margin-top: 20px;
}

.baixo-pag-1-info {
    height: 60px;

    display: flex;
    justify-content: space-between;
    color: white;

}

.baixo-pag-1-info div {
    padding: 20px 36px;

    border-radius: 5px;
    border: 1px solid var(--letra-color);
    color: var(--letra-color);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* ==================== pag 1 ========================= */